<mat-card>
  <mat-tab-group>
    <mat-tab label="Gps Live">
      <div class="demo-tab-content">
        <app-gps-live></app-gps-live>
      </div>
    </mat-tab>
    <mat-tab label="Reports">
        <div class="demo-tab-content">
          <app-reports></app-reports>
        </div>      
    </mat-tab>
    <mat-tab label="Fleet">
        <div class="demo-tab-content">
            <app-fleet></app-fleet>
        </div>      
    </mat-tab>
    <mat-tab label="Driver behavior">
        <div class="demo-tab-content">
            <app-driver-behavior></app-driver-behavior>
        </div>      
    </mat-tab>
  </mat-tab-group>
</mat-card>